[2020-03-04 18:10] hamaluik opened #1 "Add time entry date as option for exporting CSV"
This should be distinct from `start time` as it is only the date the entry belongs to, not also the time.

[2020-03-05 02:12] hamaluik commented on #1
Added a simple `Date` toggle.

[2020-03-05 02:12] #1 closed

[2020-04-02 07:45] 12people opened #3 "Bring the app to F-Droid"
I'd love to see this app on F-Droid, the most popular free and open-source app store for Android.

You could submit the app to F-droid via a [pull request](https://f-droid.org/en/docs/Submitting_to_F-Droid_Quick_Start_Guide/) or simply create an issue on their Gitlab [Request for Packaging repository](https://gitlab.com/fdroid/rfp), asking for this app to be packaged.

Thank you for making this ap

[2020-04-02 08:06] 12people opened #4 "Integrate with Clockify"
It'd be great if this app could sync with Clockify. It should be possible using their [official API](https://clockify.me/developers-api)

[2020-04-02 12:39] hamaluik commented on #4
Clockify was the app that caused me to write Time Cop (because of their unusable mobile app). I didn't realize they had an API, but I'll certainly look into it!

[2020-04-02 15:14] greigdp opened #6 "A neater way to retrospectively add time"
When moving to TimeCop for the first time, or for people whose workflow doesn't really work well with using "real-time" capture of time, it might be helpful to have a way to add historical time records manually.

Currently you can do this by starting a new timer, then immediately stopping it, and editing the start/end times. This is not ideal when doing it a few times. There are a couple of quirks

[2020-04-02 15:55] greigdp commented on #4
Are there any open source or self-hostable time tracker APIs that could be used as well? Either that, or an open implementation of the Clockify API, based on their docs?

There could be an opportunity here for Time Cop to have its own open source time tracking server, with a paid "hosted for you" offering for people wanting to support the project. This model has worked well before for other open s

[2020-04-02 21:54] l3s2d opened #7 "Allow users to permanently set a theme"
Might require a settings page. Related, consider adding an AMOLED theme.

Wonderful app, thank you.

[2020-04-03 02:19] hamaluik commented on #7
This shouldn’t be too difficult. It actually started that way and I removed that function. By AMOLED theme do you mean a theme with more pure black?

[2020-04-03 02:21] hamaluik commented on #3
I will try to do this as soon as I can get the time to figure out how to do so.

[2020-04-03 02:36] hamaluik commented on #6
I can see this would be a problem.. do you have any suggestions for how you would like to see “adding historical time records” work?

[2020-04-03 03:26] l3s2d commented on #7
Exactly. If you need some reference, the following apps (on Android) all have an AMOLED/black theme: Bitwarden, Wikipedia, Slide for Reddit, Aegis, Facebook Messenger, and NewPipe.

[2020-04-03 04:56] hamaluik opened #8 "It is possible to make a timer have negative time"
To reproduce:

1. Create a timer
2. Set the end time to whenever
3. Set the start time to some time after the end time

[2020-04-03 04:56] hamaluik opened #9 "Add ability to filter dashboard entries"

[2020-04-03 04:57] hamaluik opened #10 "Add ability to search for timers"

[2020-04-03 10:24] greigdp commented on #6
I am not sure of the best way to handle this in terms of the user experience, and getting from the main screen to a screen for entering "historical records", since your UI is very nice and clean already. Perhaps a secondary option when pressing the main action button for time recording (like when tapping on the running clock icon and getting the option to either finish, or add a new timer?)

In te

[2020-04-03 14:23] 12people commented on #4
Thinking it through now, Clockify has a lot more features than Time Cop does (like billability, teams, organizations, etc.) and if I were to use sync, I would not want to lose any data I have there. Perhaps Clockify sync isn't such a good idea yet...

An open source time tracking server with a paid hosted option sounds great, though. Perhaps I could convince my company to switch over then...

[2020-04-04 11:16] greigdp commented on #4
As a rough idea for comment, how about integration with [Kimai v2](https://github.com/kevinpapst/kimai2)? It's open source (MIT license), self-hostable, and has a nice Swagger-documented API - https://demo.kimai.org/api/doc, login info for the demo instance available [here](https://www.kimai.org/demo/).

At a first glance, the data model is a bit more complex on the server-side - it expects a "pro

[2020-04-04 23:18] hamaluik opened #12 "Add autocomplete to description field when starting a new timer"
Thanks to Leroy for the suggestion. Adding autocomplete to the description field could help make things flow even easier.

[2020-04-05 14:04] #8 closed

[2020-04-05 18:04] zpalmtree opened #14 "Option to group same task timers together across days"
If you start a timer for the same issue multiple times, they will be grouped together allowing you to see the total time spent. If the timer spans multiple days however, this is not the case.

It would be nice to have an option to allow us to easily see the total time spent for a long running task.

Thanks for the great app btw!

[2020-04-07 13:30] usrme opened #15 "Option to add additional information to an event"
First of all, thanks for the wonderful app; already gotten my money's worth!

Secondly, I was wondering if it would be possible to add additional information to an event? I'm currently logging the time I am in various meetings and the ability to quickly add more information other than the single sentence description would be wonderful!

I can see this being useful for more meaningful project work

[2020-04-07 17:46] opusforlife2 commented on #3
You could open an RFP now and have the F-Droid maintainers help you out if something needs to be changed, like a non-free library that must be removed.

[2020-04-07 17:48] opusforlife2 commented on #3
BTW, I don't think this deserves its own issue, so I'll ask it here. Does this app offer similar functionality to Boosted on the Play Store?

[2020-04-07 21:10] AndreaPravato opened #16 "button to enable dark mode"
In some android devices, there is no option to enable dark mode in the display settings, so timecop does not switch to dark mode.
It would be useful to have the possibility to enable dark mode from within the application settings too.

[2020-04-07 21:25] hamaluik commented on #16
This has been requested in #7 and will be released in version 1.5.0 (which should be published on the stores today or tomorrow). Thanks for the request though!

[2020-04-07 21:25] #16 closed

[2020-04-08 05:28] #7 closed

[2020-04-08 05:28] #9 closed

[2020-04-08 05:28] #10 closed

[2020-04-08 05:28] #12 closed

[2020-04-09 03:15] hamaluik commented on #14
I’m not sure the dashboard is the best place to view that information.. I’m having a hard time imagining how it would work there. The largest version (1.5.0) added a table report of time sums by project, would that work for you? Perhaps if I added the ability to filter by searched description in the reports as well?

[2020-04-09 03:34] hamaluik commented on #15
Thanks!

Would adding a single (multiline) edit field work for your use case? You could access it only when editing a timer. I could certainly use this feature myself so will try to get to it soon.

[2020-04-09 07:01] usrme commented on #15
Yeah, a single edit field is absolutely fine!

[2020-04-09 10:45] usrme opened #17 "Option to enable compact view"
Not sure if I should make a single issue for all the ideas that I have or keep creating separate ones :smile:

Anyway... the option to enable a more compact view for those days that a really dense in terms of events would be awesome! I imagine keeping the meeting colour indicator, but in a smaller size and then decreasing the margin all around. Also, the meeting colour indicator could exist not as

[2020-04-09 12:25] hamaluik commented on #17
Separate issues is much easier to track, and I have no problem if there are a bazillion issues. I can definitely look into this, thanks for the request!

[2020-04-09 14:18] zpalmtree commented on #14
Yep, I imagine it would be tricky to nicely represent in the UI. Adding description filtering would work for me.

[2020-04-15 10:43] usrme opened #18 "Option to have ongoing notification for ongoing timers"
Many a time have I forgotten to leave a timer going just because I closed the application to go do something else (on the phone). If there was a notification icon that would expand to the event description (maybe also the project under which it is) and the currently elapsed time, then when it would always be there in the periphery or at the very least be something that gets reminded when the phone

[2020-04-15 10:44] usrme opened #19 "Ability to pause any current timer"
Pretty much exactly as it says on the tin. While I do appreciate the ability to add parallel events, another button to just pause the current one would be just fantastatic.

Keep up the good work!

[2020-04-21 15:03] hamaluik commented on #19
I understand the functionality, but this doesn't quite match with the underlying data model—namely that timers are defined by a start time and an end time. Currently, to “pause” and then “resume” a timer, you would stop it then start it again by finding it in the list and swiping on it. I could potentially add a pause button that mimics this behaviour, but it would start to get messy.

[2020-04-21 15:07] hamaluik commented on #18
I'm not as familiar with Android anymore, but I don't believe iOS supports this without continually pinging the user with notifications? This is certainly something I could look at adding however, but I have to think on it more and plan out how it might be done. Thanks!

[2020-04-22 08:12] usrme commented on #19
Ah, alright, I'll see how quickly I can get used to that. Thanks for the response!

[2020-04-25 20:06] may-i-maybe-help-you commented on #3
I created a github account only to write this comment, because I was looking for a time tracking app which is privacy friendly for long time now.
Is there any way I can help you bringing it to F-Droid? I would love to donate you a coffee for the app on another way than Google Play Store. Please let me know how I may assist you with the F-Droid release :)

[2020-04-26 04:17] hamaluik commented on #3
Sorry for the delay on this folks!

I would actually love some help with this. I spent some time trying to get `fdroidserver` to compile and run on my system, but ran into a wall of errors I was unable to get through. I haven't had time to deal with it since unfortunately as a lot has come up with work and home life lately that has just taken all my time away from me.

That said, I've now put it i

[2020-05-07 09:00] may-i-maybe-help-you commented on #3
Hey @hamaluik
Thanks for your effort! I can make a gitlab account as well to help you there, but it seems like that the guys from f-droid already responded to you: https://gitlab.com/fdroid/rfp/-/issues/1324

:) thanks again

[2020-05-12 01:38] yiminghan opened #21 ""Select None" and "Select All" not localized"
as title says, these 2 strings are hard coded.  I'm not sure how the translation code is generated but I imagine it's a simple fix.

[2020-05-19 19:26] danielpferreira opened #22 "Project archiving"
I just started trying out Time Cop and really like it so far.

I love the simple/lightweight approach, however I did miss a feature that I'd need to be able to continue using it long-term: the ability to archive projects that I'm done with.

At any given time I usually have around 5 projects which are Ongoing (stuff I'll always have, such as Admin work), and then around 5 more which eventually get

[2020-05-19 19:45] drawtheliner opened #23 "Option to append Project Name to Description"
Would be great to have the option to enable showing the Project name in front of the Description.

So that:
🟠 Testing
🟡 Meeting
🔴 Sketching
🟡 Phone call

Becomes:
🟠 **Samsung:** Testing
🟡 **Uncle:** Meeting
🔴 **Personal:** Sketching
🟡 **Uncle:** Phone call

For me it's hard to remember the color for every single project. Descriptions are usually very minimal (as they should be), so it's hard to te

[2020-05-19 19:49] danielpferreira commented on #17
I agree on having the option for a condensed view.

(Would work nicely with my other suggestion, of having the option to append project name to start of descriptions. Would allow fitting more info, but keeping the clean look.)

[2020-05-19 22:08] danielpferreira commented on #18
How does one "upvote" a post in github?
I just added a 👍
Is that enough to show I'd also like that feature?

[2020-05-19 23:11] danielpferreira commented on #19
That seems like a good solution.

One way to see it is that it's more like "pinning", rather than pausing.
In other words, to "pause" a task effectively does two things:
1. **Stops** it (ie., creates an entry in the timeline above, as it does when you stop it currently),
2. **Pins** it (ie., keeps it where it is, at the bottom, but in place of the timer, show a pin 📌).

That pinned task could then

[2020-05-19 23:37] danielpferreira opened #24 "Two questions/suggestions"
(This is the last one, I swear!)

1. Why is there a cumulative timer at the top of the Running Timers section? How is that number useful? It seems to me it could be removed to decrease clutter.

2. Why do the task actions (swipe right = Delete; swipe left = Play/Stop) require an additional step (tapping the actual buttons)? Could you add an option in the Settings for users that would like the acti

[2020-06-02 05:16] hamaluik commented on #22
I could definitely use this myself. Thanks for the suggestion, I'll try to get to it soon!

[2020-06-02 05:21] #21 closed

[2020-06-02 05:31] hamaluik commented on #24
1. I just copied the code for displaying things from the stopped timers section and didn't really think about it. I think I agree with you and that it can be removed.
2. The library I'm using for these swipes is built that way (essentially to allow having multiple buttons available. I think right now the only place I use multiple buttons on one side is when swiping on a timer's end time when editi

[2020-06-03 19:05] danielpferreira opened #31 "Search: two suggestions"
1. Currently two taps are needed for searching. One to bring up the search input field, then one in the field itself to prompt the keyboard. Any way to make this happen directly, with one tap?

2. Search field is very hard to read on the dark background, as it uses dark font. I suggest the icon and text be a lighter color.

Search isn't something I though I'd be using. But since I usually start a

[2020-07-09 10:43] danielpferreira opened #32 ""Time Cop has stopped""
I've been getting "Time Cop has stopped" every couple of days.
It happens whenever I try to open the app, when it's already in the background.

It doesn't seem to be anything serious. It never seems to lose any data. And after the crash it always opens OK. (Also, considering I open the app dozens of times a day, it's quite rare)

However, I have a feeling it's been happening gradually more often (

[2020-07-09 14:57] hamaluik commented on #32
Hmm.. android or iOS? What version?

[2020-07-09 17:58] danielpferreira commented on #32
Android 8.1.0

I didn't want to send a proper report via the Google dialog that appeared because it seems to send a bunch of personal info.

But if you need any extra info let me know!

[2020-07-17 14:46] danielpferreira opened #33 "Search issues (though autocomplete works fine)"
The search (on top) isn't finding certain entries - seems to happen only for older ones.

On the other hand, autocomplete in the New Entry field always seems to find what I want. (though I then need to add the Project)

Let me know if you want any further info.

[2020-07-22 20:55] bxbrenden opened #34 "Exported Timecop data does not escape commas"
### Description
Timecop exports its data in `csv` format. The UI lets users add commas to their `what are you doing?` descriptions. When Timecop exports data to `csv` it leaves those commas intact and unescaped. This breaks the `csv` format by changing the number and alignment of columns.

### Request
Add an option in the `Options` part of the `Export` menu to specify some kind of escape character

[2020-07-30 12:14] laurentS commented on #32
Just to flag that I am seeing something similar, I will try to post more details next time I catch the error. I'm on Android 7.1 (lineageOS). I have about 5-6 projects, with less than 10 entries/day. I started using the app about 2 weeks ago.

Really love it otherwise, you've done a great job of making it super simple to use!

[2020-07-30 18:38] danielpferreira commented on #32
I have been getting it a few times a day now.

Not a big deal yet (since, as I mentioned, there doesn't seem to be any loss of data; also, the app is super quick to relaunch)
But it concerns me that this might get worse as I add more entries

Any plans on addressing this issue?

[2020-07-30 19:32] laurentS commented on #32
I just had one of these crashes. I turned on the phone screen, tapped the app icon on the launcher, and it crashed immediately. There was no timer running at that point. I had not used the app for a little over 90 minutes when it crashed. (I'm not sure what the conditions of the crash are, so I'm trying to provide what I can) I don't seem to be losing data either.

[2020-08-03 10:47] laurentS commented on #32
I seem to be able to reproduce this fairly consistently, by opening the app, then switching it to background (switching to another app), and waiting a fairly long time (I'd say something more than about 30 minutes), before switching back to TimeCop.
I suspect this might have to do with the various background modes that the app can enter, but I don't really know more than this (also, it's pure spec

[2020-08-03 10:57] danielpferreira commented on #32
Thanks for reporting on that.
Hopefully this means the crash is not due to the total number of entries in the database...

[2020-08-03 11:04] laurentS commented on #32
I just exported my full db to get a sense of size, the CSV weighs 1.5kb. I'd be surprised if this was the problem!

[2020-08-03 11:09] danielpferreira commented on #32
Mine is 124kb right now. 900+ entries, since May 2020.

[2020-08-04 03:20] hamaluik commented on #32
Thanks for all the reports folks. Unfortunately I haven't had time to really dive back into this yet. Are all of these crashes on Android?

[2020-08-05 06:29] laurentS commented on #32
Reading this thread again, it looks like we're both on android, 7.1 and 8.1. I have no iOS device to test on.

[2020-08-05 17:20] hamaluik commented on #32
Any chance someone is willing to share their database file privately with me so I can do some testing with it? You can email it to kenton@hamaluik.ca

[2020-08-05 21:50] laurentS commented on #32
@hamaluik just emailed you a dump of my database.

[2020-08-28 10:12] danielpferreira commented on #32
With me it also happens regardless if there is a timer running or not.

(On the bright side, even when there are running timers, they're never affected. I even had my phone crash one time - unrelated to Time Cop -, and the timer still worked 👌).

[2020-11-19 22:01] laurentS opened #35 "Build is broken?"
As of writing this issue, I have about 42 minutes of experience with flutter, apologies if I've missed something trivial.

I tried to setup the code to build locally, and couldn't get the app to build. I get a dependency resolution error:
[code]
and I just installed flutter stable:
[code]

Based on a quick search, it looks like the dependencies and sdk versions are incompatible?

[2020-12-19 12:27] danielpferreira opened #37 "Update plans?"
@hamaluik , do you plan to address the feedback and bug reports we've added in the past several months?

At the time I purchased Time Cop, it was the best tool around. However the lack of updates is making me consider looking for new tools. I'd rather not, since I really like your app!

To be clear, I'm not complaining or trying to pressure you or anything like it! I'm really just asking what are

[2020-12-21 15:40] hamaluik commented on #37
Apologies for being MIA most of the year. I just got an OSX VM back up and running and I believe I'll have some time over the holidays to actually dig into this project again. No promises, but I'm aimiing to have at least some of the issues and pull requests sorted and merged and released within the next few weeks.

Thanks for your patience!

[2020-12-22 14:26] danielpferreira commented on #37
Cool! Thanks for the update.

[2020-12-24 14:14] danielpferreira opened #38 "Expand all days (Feature request)"
Timecop is very useful when I want to have an idea of my wok on a certain project/task in the past few days or weeks.

I just search on top for a string that is unique to that task (such as "Working on Website X"), and then explore the filtered entries below.

Sometimes that's enough, but usually I need to manually expand each day to see the details (I have a habit of appending specific informatio

[2020-12-24 14:19] danielpferreira opened #39 "Allow changing default time span for the search (Feature request)"
The search on top seems to be limited to a month back by default (to make sure most users won't run into performance issues, I figure?).

I'm glad that I can override that to a longer span if I need to. But that always reverts back after I've done other operations in the app.

Usually I'd want the default span to be longer. So if there were an option for manually defining this default, it would be

[2020-12-28 06:52] hamaluik commented on #35
Should be fixed as of 091358078e6a9d29eac8cc53ac389040d8636a06.

Sorry about that!

[2020-12-28 06:52] #35 closed

[2020-12-28 06:58] hamaluik commented on #34
Would an acceptable solution be to just always delimit all of the fields? If so, I enabled this in d09c6c8

[2020-12-28 07:18] #37 closed

[2020-12-28 17:30] #34 closed

[2020-12-28 17:31] hamaluik commented on #22
Added in 72f6489

[2020-12-28 17:31] #22 closed

[2020-12-28 17:45] hamaluik commented on #31
Fixed!

[2020-12-28 17:45] #31 closed

[2020-12-28 22:53] bxbrenden commented on #34
@hamaluik does that build exist anywhere on the Apple App Store? The last version I see available for iOS is from 8 months ago.

[2020-12-29 03:25] hamaluik commented on #34
Not yet. Fixing a handful more things and then I’ll push the update.

[2020-12-29 11:11] laurentS commented on #35
Cool, the build completes now, thanks for fixing it!

[2020-12-30 20:50] hamaluik commented on #33
Would it happen to be entries that are older than 30 days?

[2020-12-30 20:55] danielpferreira commented on #33
Yes. I did a related post more recently that addresses that:

https://github.com/hamaluik/timecop/issues/39

[2020-12-30 20:57] hamaluik commented on #33
The search is limited by the currently applied filter. So, you can search earlier than a month back, so long as the filter you've set up allows that.

I agree that it isn't quite intuitive, but am closing this in favour of solving the problem in #39

[2020-12-30 20:57] #33 closed

[2020-12-31 01:01] hamaluik commented on #39
Added an option for default search days in the settings in fa5410c

[2020-12-31 01:01] #39 closed

[2021-01-04 20:29] hamaluik commented on #18
Added in 8bf6ae37e2fd48d6800b2757096a0a4444c36944

[2021-01-04 20:29] #18 closed

[2021-01-04 22:36] hamaluik commented on #15
Added in 018b434

[2021-01-04 22:36] #15 closed

[2021-01-12 09:10] danielpferreira commented on #39
The app just updated for me, and all my projects seem to be gone.
Existing time entries are there, but with no color (I figure they aren't
connected to any projects, since they're gone).
How do I recover my project list?

(Haven't tested the new features yet)

On Thu, Dec 31, 2020 at 1:01 AM Kenton Hamaluik <notifications@github.com>
wrote:

[2021-01-13 05:28] sammyhoworth opened #40 "Lost project data and export issues"
Hello,
Earlier today I lost all my project data: current and old timers are still available, however everything is now listed as "no project" and all my saved projects were removed.

Additionally, when I export my data to CSV, only those timers which were previously listed as "no project" get exported, even though now all the timers appear as "no project".

I remade some projects and assigned them

[2021-01-13 06:04] sammyhoworth commented on #40
And of course, I just had to update my OS.
Appreciate the app!

[2021-01-13 06:04] #40 closed

[2021-01-13 09:24] danielpferreira commented on #40
I have the same issue.

Why was this issue closed?
Did you find a solution?

(My OS doesn't need updating)

[2021-01-13 11:25] peterazmanov opened #41 "incorrect DB scheme "corrupts" existing data when updated to 1.6.0"
Yesterday I got auto-updated by Google Play to version v1.6.0+36 (Android v8.0.0). After that my old projects disappeared the same way as described in #40.

I believe the issue is caused by incorrect scheme of `projects` table:
https://github.com/hamaluik/timecop/blob/a69d2778c1ab1b7ef18df87488071f4861b2c902/lib/data_providers/data/database_provider.dart#L40
After DB upgrade for all old projects `

[2021-01-13 12:39] danielpferreira commented on #41
@hamaluik , if this can't be fixed quickly, can you please revert to the previous version?

Google Play auto-updated, and I don't know how to rollback (if that's even possible), nor I know how to do what @peterazmanov  did

Thanks!

[2021-01-13 12:45] danielpferreira commented on #39
I tried using the new time span setting, but it doesn't seem to be working.

As before, typing on the bottom field (new Timer) does search further back.
But the top search field is still limited by the filter (ie., ignoring the time span I put in settings)

[2021-01-13 12:49] danielpferreira commented on #18
Thanks for adding this!

However the notification only mentions there are Running Timers, but doesn't specify which, or what is the elapsed time (which means it's not very useful).

I'm on Android.

[2021-01-13 18:06] hamaluik commented on #41
@peterazmanov thank you for the detailed report!

This appears to only be an issue with older Android releases; where the system SQLite is fairly outdated, which is why I didn't catch it before release.

I have a hotfix update on the way for testing. Once it is approved for testing, you can opt into the test by visiting https://play.google.com/apps/testing/ca.hamaluik.timecop (the testing version

[2021-01-13 21:57] peterazmanov commented on #41
I tested the version and failed (made backup of my current DB, cleared and reinstalled the app - this restored the DB from the week before and upgraded it to version 3). Then I joined testing via the link you provided and installed v1.6.1 - the projects restored but the relation between existing timers and projects is gone (checked via export and external editor - all `project_id` fields contain `

[2021-01-13 22:38] hamaluik commented on #41
Hmm.. I've uploaded a new version to open testing with the pragmas outside of the transactions. When it is out of review, are you able to test this again for me please? Same procedure—go back to database version 3 then upgrade. Thanks!

[2021-01-13 23:57] peterazmanov commented on #41
Can you ping when it is out of review? Don't know where to check this.

[2021-01-14 03:08] hamaluik commented on #41
Should be available now. Still 1.6.1 but build 38

[2021-01-14 22:56] peterazmanov commented on #41
Tested again, fix isn't working...

I lost my DB auto-backed up by Android during switch to/from beta version. So i tested via import of DB file with version 3 that I manually backed up.

I debugged with Android Studio and Android emulator (Pixel 4 API 27) and found two problems:

- minor problem: when you open database in `isValidDatabaseFile` sqflite caches options for the DB, all calls to open

[2021-01-15 11:31] laurentS commented on #41
I have the same issue (google playstore upgraded it without me noticing, on android 7.1).
I tried to export the data to test the versions above, but my export only includes a handful of old entries (probably ones which had no project attached to them). Interestingly, I still have 20 entries shown in the app (different from the ones exported), and those definitely had a project attached to them. Th

[2021-01-15 11:57] danielpferreira commented on #41
@laurentS are you sure you lost time entries?

To me it looks like the only change is that the new version of the app doesn't seem to recognize Project-related data.
It seems that all my previous entries are there, they just appear as if they don't have projects attached to them.

I'm hoping the project data is still there, it just can't be shown by the new version of the app.

[2021-01-15 12:07] laurentS commented on #41
@danielpferreira I think I'm having a bad day. There was a filter on the screen somehow. Old entries are still there, luckily. So I'm exactly like you, no project data visible. As mentioned, the export only includes 6 entries, apparently the ones with no project attached to them, which tells me the other ones still have a project value in the db, and are being excluded by the export.
Sorry about t

[2021-01-15 12:15] danielpferreira commented on #41
@laurentS Good to know! Hopefully the data is still there, and will be recovered once the issue is fixed.

I've been creating new time entries based on existing ones (from before the bug), so hopefully project info is being copied over as well (even though I don't see it).

[2021-01-15 12:21] peterazmanov commented on #41
There is DB-icon at the right-top of the Export screen, when clicked it allows to export/import to/from SQlite DB file. This and desktop SQlite editor (I use [this one](https://sqlitebrowser.org/)) allowed me to workaround the problem (as I described in the first message).

Don't want to disappoint you but I would not count on it )

[2021-01-15 13:00] danielpferreira commented on #41
@peterazmanov thank for the heads-up!

Well, I already have the habit of adding the project name to the beginning of all my time entries. So at least they won't be **that** lost

And I had done a backup a couple weeks before the update, so at least I'll have that!

[2021-01-15 14:50] hamaluik commented on #41
Another test fix should be coming this morning, just giving it some more testing.

[2021-01-15 15:02] sammyhoworth commented on #40
Hello,

Yes I believe I added a comment when closing it. It was simply that I had
to update my phone's OS!

Thanks,
Sammy

On Wed., Jan. 13, 2021, 4:25 a.m. danielpferreira, <notifications@github.com>
wrote:

[2021-01-15 18:18] hamaluik commented on #41
Ok, new test version is up for testing on Google play. Let me know if this solves it. I've tested it locally with a bunch of test data and it seems to be working now.

[2021-01-15 19:02] laurentS commented on #41
@hamaluik just grabbed v1.6.1+39 and it's working fine for me (android 7.1), great job! All my data seems to be there.

[2021-01-15 19:25] hamaluik commented on #41
Great! I'll promote that build to release tonight.

Thanks for all the help, everyone!

[2021-01-16 00:49] peterazmanov commented on #41
I can confirm @laurentS' conclusion: v1.6.1+39 fixes the issue (tested on Android 8.0.0 and on emulator + checked the DB file to be sure)

Enhancement suggestion: it's a good idea to signal user that something went wrong and not swallow exceptions then it won't be that surprising to suddenly realize that part of the carefully entered data is missing.

[2021-01-16 03:49] #41 closed

[2021-01-17 16:17] danielpferreira commented on #41
Thanks @hamaluik !

[2021-01-17 16:20] danielpferreira commented on #18
@hamaluik should I add a new Issue with the request above?
(Not sure if Closed issues are still being considered)

[2021-01-25 11:38] danielpferreira opened #42 "New Default Filter Period setting not working"
Thanks for adding this. However it doesn't seem to be working for me. I still need to tap the filter icon on the top right to change the filter to further back.

I first reported this here:
[https://github.com/hamaluik/timecop/issues/39
](https://github.com/hamaluik/timecop/issues/39)

[2021-02-21 17:59] drawtheliner commented on #32
By the way, I haven't got these crashes for a long while now.

Was this addressed in the latest update? If yes this can probably be closed

[2021-03-08 13:28] 12people commented on #3
@hamaluik Could you take another look at this? Sounds like you just need to implement a fastlane file structure now and specify which Flutter version you're using.

If you're busy, I could make a pull request.

[2021-05-19 08:23] drawtheliner opened #43 "Timecop is great"
Just to mention how useful this app has been to me.

It has also become very stable since a recent update - no more random crashes. Thanks for that.

I'd still like to see at least some of the more critical issues dealt with occasionally.

Thank you!

[2021-05-21 08:35] dotupNET opened #44 "Can't build project"
When I try to build the project, I got the following error:

`Launching lib/main.dart on iPhone 12 Pro Max in debug mode...
lib/main.dart:1
Upgrading contents.xcworkspacedata
Xcode build done.                                           20,0s
../../../../../data/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_datetime_picker-1.5.1/lib/flutter_datetime_picker.dart:311:32: Warning: Operand of null-

[2021-05-26 19:15] drawtheliner opened #45 "Can't import back a database exported from TimeCop - "Invalid database file!""
1. Export database using TimeCop's Export function
2. Try to Import that back in. Get error.

Is this a known issue? How should I proceed?

[2021-05-26 19:20] drawtheliner opened #46 "Best way to clear database up until a certain date?"
After a little over a year using TimeCop I'd like to backup my existing entries and start anew.

To keep it tidy, I'd like to backup only the exact first year (ie. from 2020/04/01 to 2021/04/01), and keep all entries after that in the app (ie. from 2021/04/02 till today).

What would be the best way to do that?

I was hoping to be able to export only the more recent entries, then re-import it in a

[2021-05-27 18:04] dotupNET commented on #44
I can build it with "flutterSdkVersion": "1.22.6",

[2021-05-27 18:04] #44 closed

[2021-06-06 01:05] hamaluik commented on #45
Hmm, that's a problem. I'll look into it as soon as I have the time to do so.

[2021-06-06 01:07] hamaluik commented on #46
There isn't a way in the app to do it; the best way to accomplish what you want would be as you say: to export the database, process it however you wish, then import it back in. If you don't know SQL, you could use [DB Browser for SQLite](https://sqlitebrowser.org/) to edit it essentially as a spreadsheet.

[2021-06-06 01:07] #46 closed

[2021-09-05 12:49] laurentS commented on #32
I'll confirm that for me, this bug is fixed. I use the app everyday, and haven't had a problem for several months.

[2021-09-05 13:47] laurentS commented on #3
Hi everyone! I took the liberty to put together the absolute minimum fastlane file structure based on the help provided in https://gitlab.com/fdroid/rfp/-/issues/1324
I have zero experience with flutter (trying to build the app locally while I write this but getting dependency resolution problems) but maybe if we all chip in a couple of commits, we'll get there? In particular, I don't know how/whe

[2021-09-05 18:23] laurentS commented on #45
@drawtheliner I had the same issue, and looking at the code, I realised I was using the export function the wrong way.
You can export 2 different files:
- a CSV by doing "main menu / Export / (new export screen is shown with options) / set your options / tap blue button bottom right to get a CSV". This one cannot be imported back.
- a sqlite db file named `timecop.db` by doing "main menu / Export

[2021-09-06 10:22] drawtheliner commented on #45
Thanks! Good to know.

[2021-09-09 17:42] laurentS commented on #3
@hamaluik thanks for merging my PR!
The f-droid maintainer seems to suggest that you need to tag a new release so that they can produce a build, do you want to do that?
https://gitlab.com/fdroid/rfp/-/issues/1324#note_673825028

[2021-09-14 17:00] 12people opened #48 "Port the app to macOS"
As Flutter now allows somewhat painless porting to desktop platforms, it'd be nice to see TimeCop on macOS too (even if initially not particularly optimized for mouse input).

[2021-09-14 21:24] 12people commented on #48
I started work on this here, but don't have the time to finish it: https://github.com/hamaluik/timecop/pull/49

If anyone would like to pick up where I left off, what's left to do is:
1. bring tests in order
2. sort out dev dependency conflicts
3. make sure everything still works as intended

[2021-09-17 12:14] 12people commented on #48
I sorted it all out, seems like it could potentially be included now.

[2021-10-04 10:59] 12people commented on #4
@greigdp Great idea! I changed the issue title to allow for broader integrations rather than be focused on Clockify.

I haven't heard about Kimai before, it seems like a better fit for TimeCop than Clockify.

[2021-10-29 20:07] 12people opened #52 "Allow crowdsourcing translations using Weblate"
Weblate is a free and open-source translation platform and it provides [free hosting for FOSS projects](https://weblate.org/en/hosting/#libre). It also [supports the Fluent translation format](https://docs.weblate.org/en/latest/formats.html#fluent-format) that TimeCop uses.

[Hundreds of open-source projects](https://hosted.weblate.org/) use this free option (including one of mine) and it'd be gre

[2021-11-01 16:34] comradekingu commented on #52
Great idea. Please merge https://github.com/hamaluik/timecop/pull/53 beforehand :)

[2021-11-01 16:34] comradekingu commented on #43
@drawtheliner Are you helping or maybe donating?

[2021-11-01 19:37] drawtheliner commented on #43
Why do you ask?

[2021-11-02 14:03] 12people opened #54 "[UX] Communicate which filters are applied"
When using Time Cop, it's not clear that the entries are filtered to those from a certain date onward by default.

I tried to bring over a 2 month old project from Clockify to Time Cop and was surprised when newly added entries for old dates would not be added.

It'd be great if there was a small note about the applied filters at the end of the entry list — e.g. "Filtering entries from October 1,

[2021-11-13 18:23] opusforlife2 commented on #3
@hamaluik Could you please tag a new version so that F-Droid can build it? It doesn't need to have all the latest commits, it could be identical to the current latest release. Or will that mess with your versioning scheme?

[2022-01-18 21:50] #48 closed

[2022-02-03 14:33] 12people commented on #52
Just created a Weblate project to make it easier to contribute translations: https://hosted.weblate.org/projects/timecop/ .
Now it's waiting for Libre hosting approval.

@hamaluik fyi

[2022-02-07 16:13] 12people commented on #52
Libre hosting has been approved!

[2022-02-07 16:13] #52 closed

[2022-03-22 14:04] 12people commented on #3
New version tagged!

[2022-03-31 19:32] bmhj2 commented on #4
Never mind - thanks for the answer!

[2022-04-12 20:09] Simon-Laux opened #60 "press enter to start activity"
would save time on desktop and when using with connected Bluetooth keyboard.

[2022-05-04 11:43] #3 closed

[2022-05-07 08:55] Horhik opened #63 "Cant install on android 12"
Android 12, LineageOS

[![Screenshot_20220507-115449_F-Droid.png](https://user-images.githubusercontent.com/46262811/167247076-535ea588-2e1e-48c8-a058-2de4eefd59e8.png)

[2022-05-07 09:06] 12people commented on #63
The minSdkVersion is 16 (= Android 4.1) and the targetSdkVersion is 31 (Android 12), so I don't think it's that unless Lineage OS reads these differently than stock Android.

The app installs fine for me from inside F-Droid on my (non-rooted OEM) Android 10 device, so I'm not sure what could be going wrong here.

Could you post the logs from logcat?

[2022-05-08 04:49] Horhik commented on #63
@12people ![Uploading w2{97f2a4c} (1f85fcb6-c25d-4a35-b400-54ac7a9da5b4 id=0x7f0a03bc tag=BaseCommentFragment) …]()

[2022-05-08 15:34] mus1c-123 opened #64 "Install error"
![Screenshot_2022-05-08-10-33-31-68_66a3b1c2c181ff92b8bf945e748b6fb7.jpg](https://user-images.githubusercontent.com/22779862/167303588-527354cf-1a12-4501-93f8-5939d10b2fe4.jpg)

[2022-05-08 15:40] #64 closed

[2022-05-09 12:17] 12people commented on #63
Should be fixed in the latest release. Now we just have to wait for the F-Droid bot to package it up and distribute it.

[2022-05-09 12:17] #63 closed

[2022-05-11 11:06] drawtheliner opened #65 "Plans for update?"
I purchased TimeCop 2 years ago and it has been very useful every since. Because I've been using it so much, my database is getting quite huge.,I'd like to clear it (after performing a backup, of course). According to [this](https://github.com/hamaluik/timecop/issues/46)) previous conversation, it doesn't seem this is a priority, so I think I'll move on to a different app.

Before doing that I'd l

[2022-05-16 19:02] drawtheliner commented on #18
Also the notification persists even once all timers are stopped. Android.

@hamaluik could you please confirm you read these, and that this is helping (and/or being considered) in any way? If not I can just stop suggesting things, no problem.

[2022-08-14 08:25] alexanderadam commented on #4
Just my two cents: maybe the architecture could be done in an plugin-like manner if that'd be possible.
This way there could be a plugin for [GitLab](https://docs.gitlab.com/ee/api/graphql/reference/index.html#timelog), one for [OpenProject](https://www.openproject.org/docs/api/endpoints/time-entries/), [one for NextCloud apps](https://github.com/te-online/timemanager/blob/main/tests/cypress/integ

[2022-08-22 11:47] samkcdev opened #68 "How delete a task for Linux?"
Sorry to ask this basic question. After completing a task I can't find any option to delete it from the list. When clicked on the task it goes to the edit mode. Please let me know how to delete a task.
It would be better if a delete icon was added next to the completed task. I am using this app in POP OS.

[2022-08-22 13:09] 12people commented on #68
@samkcdev Try horizontally scrolling on the task or clicking and dragging the task to the side. There are invisible swipe actions that enable this sort of thing.

Unfortunately, the UI hasn't been optimized to work well with non-touch input.

[2022-08-22 16:10] samkcdev commented on #68
Thanks! @12people _clicking and dragging the task to the right side shows the delete icon._ .

[2022-08-22 16:10] #68 closed

[2022-09-06 16:29] vasquezalvaro opened #71 "problem deleting project"
message recieved:
_CastError (type 'Future<bool?>' is not a subtype of type 'FutureOr<bool>' in type cast)
ProjectScreen.dart. line 119

[2022-09-06 16:59] 12people commented on #71
@vasquezalvaro Which version was this in?

[2022-09-06 17:06] vasquezalvaro commented on #71
name: timecop
description: Simple private time tracking.
version: 1.7.2+43
publish_to: none

I am compiling for MacOs(Darwin) with Flutter: 3.3.0

[2022-09-06 17:08] vasquezalvaro commented on #71
I downloaded the last source in master.
Thanks for your replay.

[2022-09-06 18:59] 12people commented on #71
@vasquezalvaro
Just pushed the commit https://github.com/hamaluik/timecop/commit/275663fecd3124319c61fde4fed33100d4bfcccd that should hopefully fix the problem.

Thanks for bringing this to my attention!

[2022-09-06 18:59] #71 closed

[2022-09-07 20:33] 12people commented on #71
Great, happy to hear that! :)

[2022-09-07 23:38] vasquezalvaro opened #72 "Timer editing error"
Editing Timer Problem

When a project is archived and I try to edit a timer associated with it, the app shows (Dropdown.dart) this error:

Exception has occurred.

_AssertionError ('package:flutter/src/material/dropdown.dart': Failed assertion: line 890 pos 15: 'items == null || items.isEmpty || value == null ||
              items.where((DropdownMenuItem<T> item) {
                return item.val

[2022-09-08 09:58] vasquezalvaro commented on #72
more information...
[timecop.csv](https://github.com/hamaluik/timecop/files/9525800/timecop.csv)
<img width="868" alt="Screen Shot 2022-09-08 at 4 56 53 AM" src="https://user-images.githubusercontent.com/2814130/189093635-072c00ed-bdaa-4664-a0cf-d673e010ca6b.png">
<img width="873" alt="Screen Shot 2022-09-08 at 4 57 12 AM" src="https://user-images.githubusercontent.com/2814130/189093721-16d60b9b-8

[2022-09-08 12:13] 12people commented on #72
Thanks :)
It should be fixed with this commit: https://github.com/hamaluik/timecop/commit/0075feca2933d59d0deb2ca82e020c907a4f188e

[2022-09-08 12:13] #72 closed

[2022-09-08 15:49] vasquezalvaro commented on #72
Thanks a lot. !! You are THE BEST.

[2022-09-12 11:30] vasquezalvaro opened #73 "A suggestion."
A suggestion:

in ExportMenu.dart

Change lines with
scaffoldKey!.currentState!.showSnackBar(SnackBar(

for
 ScaffoldMessenger.of(context).showSnackBar(SnackBar(

That is because I received dart errors with first line.

[2022-09-12 11:34] vasquezalvaro commented on #73
"message": "The method 'showSnackBar' isn't defined for the type 'ScaffoldState'. Try correcting the name to the name of an existing method, or defining a method named 'showSnackBar'.",

[2022-09-26 13:09] 12people commented on #73
Done in the latest commit :)

[2022-09-26 13:09] #73 closed

[2022-10-07 15:31] #45 closed

[2022-10-08 05:12] Aryashakya commented on #60
I would like to work on this issue.

[2022-10-08 07:00] 12people commented on #60
@Aryashakya Great!

If you have questions, feel free to write here or to DM me.

[2022-10-08 07:23] Aryashakya commented on #60
I added the start timer functionality to the onSubmitted function of Description TextField. Could you please review it?

#76

[2022-10-09 08:08] 12people commented on #60
Will be part of the next release

Thanks a lot, @Aryashakya !

[2022-10-09 08:08] #60 closed

[2022-10-09 19:49] 12people opened #78 "An alternative "comfortable" view"
To show project names along with tasks (solving #17) as well as to enable a quicker way to pick up older tasks even on mobile, it'd be nice to have a less dense view as an alternative to the current compact view.

Here's a wireframe for this new view:
![Home  complex view](https://user-images.githubusercontent.com/7361228/194776630-1a6b7e01-f1d6-4d79-9b79-e7e5d7f67b2d.png)

The view would only aff

[2022-10-09 19:54] 12people opened #79 "Task multiselect"
It'd be useful to be able to select multiple recorded tasks and perform commands on them, including:
- deleting multiple tasks at the same time
- changing their project
- changing their description

Here's a wireframe of what that could look like:
![Home  multiselect](https://user-images.githubusercontent.com/7361228/194776789-3a7b27d3-242f-4532-87e2-f63ecc3d05e7.png)

To enter this multiselect mo

[2022-10-09 20:00] 12people opened #80 "Generate screenshots using automated integration tests"
Time Cop used to use the `screenshot` package for automated tests, but unfortunately, that package is obsolete and non-functional now.

Thankfully, Flutter 2.5 and above make it easy to take screenshots inside integration tests. It'd be useful if new tests were written to make generating screenshots easy again.

Here's a relevant article on this: https://dev.to/mjablecnik/take-screenshot-during-fl

[2022-10-09 23:35] 12people opened #81 "Ask for notification permission"
When the user first toggles the "Show Running Timer Notifications" setting, ask them for permission to send notifications.

[2022-10-10 16:05] 12people opened #82 "Release for macOS using Homebrew Cask"
Publishing on the macOS App Store would require paying Apple's exorbitant Developer license fees, which is generally not affordable for smaller open-source projects supported only by community donations.

A free alternative would be to make a Homebrew Cask. A guide for that is here: https://docs.brew.sh/Adding-Software-to-Homebrew#casks

[2022-10-11 12:13] 12people commented on #82
@vasquezalvaro Just wondering if you might not be interested in looking into this. With a cask, you wouldn't have to compile the app for macOS with each update.

[2022-10-11 13:27] 12people opened #83 "Debug low-contrast elements"
It seems like expansion arrows lose their color when expanded:
![image](https://user-images.githubusercontent.com/7361228/195103622-1060d3c7-a0b6-4f6f-b24a-622da9028919.png)

Also, text field labels take on a low-contrast color when clicked:
![image](https://user-images.githubusercontent.com/7361228/195103457-3833b42d-f6ed-4c64-874a-9f26b2ad17b3.png)

It'd be good to go through the UI and fix thes

[2022-10-12 14:51] 12people commented on #81
Try it in an Android 13 emulator. I tried it and it seems that notifications are disabled by default there.

That's because Android 13 introduced notification permissions: https://developer.android.com/develop/ui/views/notifications/notification-permission .

What might suffice is adding `POST_NOTIFICATIONS` to the manifest, but I haven't tested that yet.

[2022-10-12 14:54] 12people commented on #81
The permission should only appear when toggling "Show running timer notifications". That switch should not be allowed to turn on if the relevant permission isn't given.

It could be useful to show a dialog telling the user that they need to enabled that permission, ideally with a link to settings, if the permission is rejected at first. This is an edge case, though (I can't imagine many people tur

[2022-10-13 07:28] AdiAr11 commented on #81
Okay, So I can add a check that if notification permission is not given, a dialog box will open asking the user to be taken to the app settings so that they can turn on the notifications.

[2022-10-13 07:30] AdiAr11 commented on #81
I'll try for the android 13. I'm a little low on storage so I had to uninstall the android emulator.

[2022-10-13 08:24] 12people commented on #81
The most important thing is to ask for permission on Android 13 when the setting is toggled.

If it's no longer possible to ask, there should be a dialog saying "Notifications are disabled for Time Cop. Turn them on in Settings → Apps & Notifications → Time Cop → Notifications.". The link to settings is strictly a nice-to-have, though, not a necessity to complete this task. :)

[2022-10-13 09:31] AdiAr11 commented on #81
Understood. I'll try to install the emulator again😃

[2022-10-14 10:43] 12people opened #84 "Upgrade to latest flutter_bloc version"
The current version of the [flutter_bloc](https://pub.dev/packages/flutter_bloc) library that's being used is 7.3.3, but the latest version is 8.1.1.

For upkeep, it'd be good to upgrade to the latest version, including all the refactoring that takes.

[2022-10-14 11:56] 12people opened #85 "Fix BuildContexts across async gaps"
There's a number of warnings throughout the code about using BuildContexts across asynchronous gaps. It'd be good to fix the underlying problems.

For information on why this is happening and how to fix it, see this video: https://www.youtube.com/watch?v=bzWaMpD1LHY

[2022-10-14 18:15] Aryashakya commented on #84
I would like to work on this.

[2022-10-14 18:18] 12people commented on #84
Absolutely, you'd be more than welcome to. :)

[2022-10-15 02:20] Aryashakya commented on #84
The [flutter_bloc](https://pub.dev/packages/flutter_bloc) library was upgraded and the `mapEventToState` was changed to `on<Event>`

Could you review it? #86

[2022-10-15 11:50] 12people commented on #84
Excellent, thanks for the pull request!

[2022-10-15 11:50] #84 closed

[2022-10-16 08:52] AdiAr11 commented on #85
Hi, can I work on this issue?

[2022-10-16 09:21] 12people commented on #85
@AdiAr11 As you were the first one to ask, I'm assigning this issue to you.

It also seems like another person is interested in working on this, so if you lose interest, please let me know so that I can reassign this issue.

Thanks for contributing. :)

[2022-10-16 09:32] AdiAr11 commented on #85
Sure, Thank you @12people. I'll get on this asap.

[2022-10-16 09:37] AdiAr11 commented on #85
I don't see the linter warning for this. Should I add the flutter_lints as well?

[2022-10-16 09:39] 12people commented on #85
@AdiAr11 That's strange. Perhaps you have an older version of the code? In master, `flutter_lints` are in `pubspec.yaml` and they're also referenced in `analysis_options`. I see warnings on this on my side, so I'm not sure why you're not seeing them.

[2022-10-16 09:41] AdiAr11 commented on #85
Strange. I'll check if i have taken the latest pull.

[2022-10-16 09:42] 12people commented on #85
@AdiAr11

On an unrelated note, please take a look at my comment for another person's PR related to this: https://github.com/hamaluik/timecop/pull/87#issuecomment-1279932673

It contains information that's relevant for you too. And I should mention that not all of these warnings need to be fixed right away — in some places, it might be advisable to just add a comment and wait until the [`context.m

[2022-10-16 09:43] AdiAr11 commented on #85
Yes I saw that. I'll keep that in mind. Thank you !!

[2022-10-16 09:44] AdiAr11 commented on #85
Also saw that my fork was way behind. Have updated it.

[2022-10-18 00:23] aismaniotto commented on #83
Hi, in the cases of the arrow, should keep the same color, right?

And in the labels case, also should keep the same color or some other?

Can you assign me this issue? thks

[2022-10-18 08:58] #83 closed

[2022-10-18 08:59] 12people commented on #83
Your PR looks excellent, thanks!

[2022-10-19 10:10] 12people commented on #85
Great, thanks for the PR!

There were just two things I would do differently and I submitted commits with fixes already:
- In ExportScreen, instead of checking for `mounted`, the Share dialog should appear even if the user has navigated elsewhere: https://github.com/hamaluik/timecop/commit/6a504dd96b96affd76808fe85f1b26a59df8cd2f
- In ExportMenu, you were creating new variables just to assign them

[2022-10-19 10:10] #85 closed

[2022-10-19 13:20] AdiAr11 commented on #85
Thank you so much. I'll take a look at the changes you made as well for future references. Thank you !!

[2022-10-20 04:53] 1over137 opened #91 "Starting another timer doesn't stop the running one"
With "Only Allow One Running Timer at a Time" set to ON in the settings, I expect it to stop the currently running timer when I start another one by swiping left on a previous task. This does not happen, and both timer runs at the same time as a result.

[2022-10-20 19:14] TomerPacific commented on #80
Hi @12people , can I help out with this issue?
What tests are you looking to add?

[2022-10-20 23:24] 12people commented on #80
Well, mostly just looking to add a replacement for this file: https://github.com/hamaluik/timecop/blob/master/test_driver/screenshots_test.dart . This used to be an integration test used for automatically taking screenshots in a wide range of languages to use on app stores, but it used a specific package (`screenshot`), which no longer works and is no longer being developed.

You can use the afore

[2022-10-21 09:06] TomerPacific commented on #80
@12people, wanted to run the project before I start developing and got the following:

`Running "flutter pub get" in timecop...
Because every version of flutter_test from sdk depends on path 1.8.1 and timecop depends on path ^1.8.2, flutter_test from sdk is forbidden.
So, because timecop depends on flutter_test from sdk, version solving failed.
pub get failed (1; So, because timecop depends on flu

[2022-10-21 09:47] 12people opened #92 "Add a Material You theme with dynamic colors"
Use the [`dynamic_color` package](https://pub.dev/packages/dynamic_color) to add a Material You theme as an option for the app.

The theme can only be for light mode for now, dark mode can be implemented in a subsequent issue.

[2022-10-21 09:52] 12people commented on #80
@TomerPacific

This seems to be a simple dependency conflict.

First, I would recommend that you upgrade Flutter to the latest version — 3.3.4, rather than the 3.0.5 that you're currently running. You can do that by running `flutter upgrade` in the Terminal.

If that doesn't solve the issue, you can just change the `path: ^1.8.2` line in this project's `pubspec.yaml` file to `path: ^1.8.1`.

Let m

[2022-10-21 10:07] TomerPacific commented on #80
@12people , thanks.

I didn't find any specific instructions on setting up things locally, just:

So I didn't know what the required Flutter version is or if there is anything that needed to be done for dependencies.

**Upgrading Flutter to the latest stable version did the trick.**

Thanks

[2022-10-21 10:32] 12people commented on #91
Completely agree that starting another timer in this mode should automatically stop the previous timer.

[2022-10-21 16:40] TomerPacific commented on #80
@12people , I've started converting the `screenshots_test.dart` file. Below is an excerpt from the file:

[code]

- I have incorporated the **takeScreenshot** solution referenced by the blog post
- Due to the fact the testing has changed in Flutter and methods have changed, I had to perform some adjustments
- When running this test in the terminal I am getting the following:

[code]
Meaning, it ca

[2022-10-21 19:17] 12people commented on #80
Hi @TomerPacific,

I'm not sure what exactly you mean by trying to load the app as in the example, but if you mean the `app.main();` part of the code is missing, that's exactly where the problem lies. In order to test the app, you have to run the app's code — there's no way around that. :)

Another bug that I noticed in your code is that you don't run `pumpAndSettle` when expecting UI changes as a

[2022-10-21 21:37] TomerPacific commented on #80
@12people ,

That is **exactly** what I was referring to as I had code previously that invoked `app.main()`.

I am aware of letting the test waiting for UI changes with pumpAndSettle, I just didn't get around to it since I saw that I had issues finding the desired widgets first.

Thanks for your quick reply.

[2022-10-21 21:51] 12people commented on #80
Glad I could help.
So I'm hoping it works for you too now? I imagine the problem might have been with a missing `import 'package:timecop/main.dart' as app;` function, perhaps?

[2022-10-22 06:30] TomerPacific commented on #80
@12people ,
Haven't tested it out yet, but I had the import there as well.
I'll post the results later today.

[2022-10-22 12:58] 12people commented on #80
That's strange, not sure where the problem could be. I've never compiled on Windows, btw, only on Linux and macOS, so I'm not sure if there are extra complications in Windows.

Are you building the app for Android or for Windows? Windows is not a supported platform, so please run it inside an Android emulator.

Otherwise, I guess I would just try `flutter clean` and running `flutter test` again.

[2022-10-22 12:58] 12people commented on #80
Also, just wondering — can you build and run the app itself?

[2022-10-22 13:00] 12people commented on #80
About the `sqlite3` error — maybe you need to copy the `sqlite3.dll` file somewhere, as described here: https://pub.dev/packages/sqflite_common_ffi#windows

[2022-10-22 13:32] TomerPacific commented on #80
Thank you for your continued assistance, @12people,.

**I am building the application for Android, not Windows and running it inside an Android emulator.**

**Before working on the feature, I set up my local environment, which meant making sure the application compiles and runs.**

**The emulator I am using is configured for API 29, before the Splash change, so I am not sure the problem is derived

[2022-10-22 16:09] 12people commented on #80
Hm...

Well, my build environment is a bit different (running macOS on ARM, using VSCodium), but the test works for me both in an Android emulator and even when building the app for macOS.

The only file change on my side compared to what's in this repo is that I have this line under `dev_dependencies` in `pubspec.yaml`:
[code]
But I assume you have that too.

The problem on your end seems to be p

[2022-10-22 16:10] 12people commented on #80
(Oh, and I can run the test without a problem both via the `flutter test` command as well as by running the test via VSCodium's UI.)

[2022-10-22 17:56] TomerPacific commented on #80
@12people,
These are the things which I tried:

- Run `flutter clean` and `flutter pub get`
- Invalidate caches and restart Android Studio

I also have the integration_test dependency under dev_dependencies.

When searching for the sqlite3 error in SO, I found [this](https://stackoverflow.com/questions/62890116/missingpluginexceptionno-implementation-found-for-method-getdatabasespath-on-c), which

[2022-10-22 20:09] TomerPacific commented on #80
@12people,
happy to update that I have gone one step forward (with probably two steps back).
I moved the screenshot_test.dart file into a directory called integration_test that exists in the same root folder as lib and that solved the sqlite3 error and now when I run the test via terminal it starts.

Thing is, I see a black screen that says Test starting and then the test fails since it does not f

[2022-10-22 20:13] 12people commented on #80
Oh, it didn't occur to me to ask about the folder structure. Yup, `integration_test` should be in the root folder.

Now it seems like your test environment is set up correctly and only the test itself needs to be fixed.

[2022-10-22 20:17] 12people commented on #80
Did you add the line ```await Future<void>.delayed(const Duration(seconds: 20));``` before or after the first `pumpAndSettle` is run? For me, adding it between that and ```app.main();``` worked:

[code]

It's an ugly hack, though, so it would be good to research how to do it correctly nevertheless.

[2022-10-22 20:24] TomerPacific commented on #80
@12people, I added it a bit later and when I used your proposal, it works.
As you stated earlier, it is a hack and I'll google this and try to find an honest solution.

[2022-10-23 17:57] TomerPacific commented on #80
@12people, researched around and tried various things to overcome having the Future.delayed code line there.
One proposal suggested to not use `app.main` and instead do this:

` await tester.pumpWidget(MyApp());`

Now, seeing as in the main.dart file of this application, MyApp is actually `TimeCopApp`, I have tried to use that.

Since the constructor expects a settings object of type **SettingsPro

[2022-10-23 20:00] 12people commented on #81
@AdiAr11 Turns out, there's information on this in the notification package's README: https://pub.dev/packages/flutter_local_notifications#requesting-permissions-on-android-13-or-higher

Seems fairly simple to implement

[2022-10-23 20:18] 12people commented on #80
I'm helping maintain this project, but I'm not the original developer, so I'm also unfortunately not very knowledgable about the Bloc pattern.

I discovered there's a MockSettingsProvider as well as a MockDataProvider file: https://github.com/hamaluik/timecop/blob/master/lib/data_providers/data/mock_data_provider.dart, https://github.com/hamaluik/timecop/blob/master/lib/data_providers/settings/moc

[2022-10-23 20:21] TomerPacific commented on #80
@12people, that's one solution that I have tried, but to no avail...

[2022-10-23 20:23] 12people commented on #80
Unfortunately, I don't think I can help with this :(

[2022-10-24 12:10] hamaluik commented on #80
I'm not sure of the specifics here, but if you need a `SettingsProvider` in the test, you can instantiate a [`MockSettingsProvider`](https://github.com/hamaluik/timecop/blob/master/lib/data_providers/settings/mock_settings_provider.dart) which extends `SettingsProvider`.

Unfortunately I built this a long time ago when the bloc pattern was newer and I didn't fully know what I was doing, so the "Pr

[2022-10-24 17:28] AdiAr11 commented on #81
@12people I checked it. Agreed that it looks pretty easy to implement. I won't be able to test it but I will still try to complete it.

[2022-10-25 13:39] 12people commented on #91
@lucagonzalez
Sure, go ahead :)

[2022-10-25 21:37] 12people commented on #91
@lucagonzalez
Looks great, thanks a lot!

Could you also take care of the instances where a timer gets created in the `DescriptionField.dart` file?

[2022-10-26 13:30] MSGermany opened #94 "Error running pod install"
Hey there,

i have issues to running this Project. I tried some stuff to run this, but nothing has fix it. Now i have already re-install this project, but the error is still there. I have the latest Ruby, flutter and Cocoapot version, but it seemy to me, there are more problems. Can you please help me with this?

Thanks a lot.

[2022-10-26 13:31] MSGermany commented on #94
![grafik](https://user-images.githubusercontent.com/49645770/198039138-7dbda4a4-be2a-473a-89e1-6165aff56c0e.png)

[2022-10-26 13:45] 12people commented on #94
Hm, I'm honestly not sure what the problem is here.

Could you try:
- Running `flutter clean`, then `flutter pub get`, then running the app (`flutter run`)
- Running `flutter doctor` and seeing if there are any outstanding errors
- Running `flutter upgrade`, to double-check you have the latest stable version
- Running Time Cop inside an Android emulator and/or natively on macOS (to see whether thi

[2022-10-26 14:16] MSGermany commented on #94
Hey @12people

thanks for your quick answer. I updated my Ruby Version, re-install cocoapods and also flutter. Also i updated my XCode. Now its running fine :) Thank you for your help!

[2022-10-26 14:24] lucagonzalez commented on #91
@12people
Just pushed!

[2022-10-26 16:11] #91 closed

[2022-10-26 19:38] TomerPacific commented on #80
@12people , @hamaluik - good news. I have managed to make the test run without any hack using an instantiation of the MultiBlocProvier.

I am in the process of converting the old test into the new logic.

[2022-10-27 18:49] hamaluik commented on #80
That key is coming from https://github.com/hamaluik/timecop/blob/master/lib/screens/dashboard/components/StoppedTimerRow.dart#L103

The idea in the screenshot end-to-end tests is to use the provider mocks so there is some data on the screen (without having to use an actual database), so the provider mock would have provided a timer with the id of '42', which the test could then locate the widget f

[2022-10-29 17:44] TomerPacific commented on #80
@hamaluik , @12people , I have opened a PR and will appreciate your feedback to understand if what I have done solves the required issue.

[2022-10-29 19:56] 12people commented on #80
Hi @TomerPacific

Thanks so much for the PR!
The test runs for me on Android, but it seems like no screenshots are actually generated.
I'm thinking a custom test driver might be missing. (When I run the test with a custom driver, it generates screenshots just fine.)
Is this file missing or am I running the test wrong / looking for screenshots in the wrong place?

[2022-10-31 20:48] #80 closed

[2022-11-08 21:36] d1nuc0m opened #96 "Update Google Play release"
Hi, I noticed that the latest update of Time Cop on the [Play Store](https://play.google.com/store/apps/details?id=ca.hamaluik.timecop) has been released on 2021-01-15, while the latest version on [F-Droid](https://f-droid.org/en/packages/ca.hamaluik.timecop/) has been released on 2022-05-18. Is it possible to update the Play Store release? (Btw, why does it cost 0.99$ if it is also on F-Droid?)

[2022-11-09 14:35] 12people commented on #96
Hey @d1nuc0m

I'm helping maintain the project. I think @hamaluik , the original creator, tends to be relatively busy.

He's the only person with access to the developer accounts responsible for the Google Play and AppStore releases. I, on the other hand, am responsible for the F-Droid release and the [Flathub release for Linux](https://flathub.org/apps/details/ca.hamaluik.Timecop) — which is why

[2022-11-09 20:07] d1nuc0m commented on #96
I understand, thank you

Maybe keeping it up-to-date could be helpful to use it as a kind of "donation"?

@hamaluik thought about creating one?

[2022-11-10 12:12] mjjzf opened #98 "View with start and end time"
In my organization, we enter the work time in a form.
The app would be even more useful if start and end time would be featured in the overview, possibly with a column chooser like in the reporting section.

[2022-11-15 16:01] hamaluik commented on #96
I have updated the Play Store release to 1.8.0. It is currently in review but it should roll out soon. I'm not sure if I'm still able to update the iOS build because unfortunately I no longer have access to a Mac. I'll see what I can do about this, but it may take a bit.

I have also made the app free on the Play Store. It was only earning a dollar or two a month anyway. I will likely make the App

[2022-11-15 16:04] hamaluik commented on #65
@drawtheliner are you using the app on iOS or Android? @12people has done a lot of work updating the app and I have finally pushed an update out to the Play Store (I believe @12people has updated the app on F-Droid). I don't have access to a Mac to build the update for iOS unfortunately, but I will push that update out as soon as I am able.

Apologies for the long delay!

[2022-11-15 16:04] #43 closed

[2022-11-16 15:31] 12people commented on #78
Integrating https://github.com/hamaluik/timecop/issues/98, this view should also integrate start and end times:
![Home  complex view](https://user-images.githubusercontent.com/7361228/202223253-262e0886-aad8-418c-910b-a54cef939f11.png)

[2022-11-16 15:35] 12people commented on #98
@mjjzf There was a separate request to show project names as well, leading to a "complex view" proposal in #78 . This complex view could potentially show start and end times too:

![Home  complex view](https://user-images.githubusercontent.com/7361228/202223767-7f634f70-4c89-441e-92a3-82d921e6965c.png)

[2022-11-16 15:36] 12people commented on #98
That said, I don't think I'll find the time in the near future to work on this. So I'm leaving this up for potential contributors who might like to try their hand at an implementation.

If this feature is important to you, you're more than welcome to submit a pull request. :)

[2022-11-16 15:43] 12people commented on #96
@hamaluik Thanks for that, and also thanks for the release note write-up!

And you're completely right about AppStore fee — it's a pain to deal with, and it's the primary reason I don't have my own projects on the AppStore. There is a possibility to get a fee waiver, but it only applies to nonprofit organizations in select countries: https://developer.apple.com/support/membership-fee-waiver/ .

[2022-11-17 02:30] 15jgme commented on #92
Hey @12people, I can take a look at this in the next few weeks if it's still of interest

[2022-11-17 10:49] 12people commented on #92
@15jgme Sure thing. :)

Just please add it as an additional theme option, don't modify any existing themes.

[2022-11-17 10:50] 12people commented on #92
(Also, Hacktoberfest is now over, so there is no possibility to get any rewards from that contest anymore.)

[2022-11-17 12:48] 15jgme commented on #92
Sounds good i'll make sure it's only an addition.
And no worries, I know it ended, I just want to help out :)

[2022-11-17 12:49] 12people commented on #92
Awesome, thanks for the support!

[2022-11-22 11:07] 12people commented on #96
@hamaluik
I just issued a new bugfix release. Could I ask you to release it on Google Play as well?

It's a bug related to desugaring and only affects Android 13 and the special tablet-based Android 12L release. Desugaring was added with the latest release of the flutter_local_notifications package, and while I tested that change on Android, I didn't test it with those Android versions.

[2022-11-29 10:39] legoatoom opened #100 "[Suggestion] Browser Add-On simmilar to Clockify / Toggl"
Clockify and Toggl have a browser [extension](https://github.com/toggl/track-extension) that add buttons on specific websites. This makes it easy for users to start/stop projects on the fly based on the where the button is.
Example, gitlab-github buttons would automatically add the name of the issue to the timer.
They use API's to their servers to start/stop timers, something Timecop does not have

[2022-11-30 17:28] maiers opened #102 "WeekdayAverages are slightly skewed by extending the time period before calculating the daily average"
**Actual**: It seems that WeekdayAverages a slightly off when viewed for a time period not aligned with the start/end of a week. Thus artificially decreasing the daily average for those days for which no data is available.

**Expected**: WeekdayAverages only normalizes daily hours worked by the number of instances of the given weekday within the actual time period monitored.

[2022-11-30 17:31] maiers commented on #102
Example: if we generate a report from Monday past week until today (which is a Wednesday). We would expect that the daily average for Thursday is the actual number of hours worked last week on Thursday (divide by 1). But because the total is divided by the number of full weeks in the data set, we divide by 2.

[2022-11-30 17:38] maiers opened #103 "Filter shortcuts for e.g. this week, last week, this month, ..."
Really nice tool. One handy feature could be filter "shortcuts" to easily select often used time periods like:

- current {week,month,year} till today
- last/previous {week,month,year}